<!-- <p>{{ post.text|linebreaksbr }}</p><br> what is linebreaksbr -->
<html>
    <head>
        <title>Django Boy blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django boy Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
            <br>
                <p>published: {{ post.published_date }}</p>
                <h4><a href="">{{ post.title}}</a></h4>
                <p>{{ post.text }}</p><br>
            </div>
        {% endfor%}

    
    </body>
</html>